html { font-size: calc(1em + 1vw); }
body{
    background-color: #ffffff;

    font-family: PingFangHK-Light, sans-serif;


}
/* *{
    cursor:url(../images/head.png),auto;
} */



.btn-hover {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background-size: 300% 100%;
    padding: 0px;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right,#111,#111,rgb(43, 250, 63),rgb(43, 250, 63));
}
   


body ::selection{
background-color: rgb(43, 250, 63);
color: black;
}

.container{
    margin-left: 24px;
    margin-right: 24px;
    width: auto;

}



.icon{
    color: #ffffff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}


/*导航*/
.navbar-default{
    background-color: #fff;
    border: #fff;;

    margin-bottom: 40px;
}
.navbar-default .navbar-header a{
    margin-top: 16;
    font-size: 24PX;
    color: #111111;

}
.navbar-default .navbar-nav>li>a{
    margin-top: 16;
    font-size: 16px;
    color: #111111;

}
.navbar-default .navbar-nav>li>a:hover {
    color: rgb(43, 250, 63);
}
    


.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media screen and (max-width: 767px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 16px;
        color: #666;
        height: 50px;
        line-height: 25px;
    }
    .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
        background-color: rgb(43, 250, 63);
    }
}

/*home*/
#home{
    margin-top: 70px;
    background-color: #fff;
    background-size: cover;
    color: #111111;
    width: 100%;
}
.musk{
    height: 100%;
    width: 100%;
    padding: 40px 0 60px;
}
#home p{
    font-size: 16px;

}
#home p1{
    font-size: 14px;
    color: rgb(56, 56, 56);
}
#home a1{
    margin-top: 0%;
}
#home a1{
    color: rgb(1, 215, 22);
}
#home img{
    margin-top: 30px;
    display: inline-block;
}


/*bbs*/
#bbs{
    text-align: left;
}
#bbs a{
    color: #0f0f0f;
    text-decoration: none;
}
#bbs img{
margin-bottom: 8px;
margin-top: 12px;
}
#bbs h1{
    font-size: 32px;

}
#bbs h2{
    font-size: 24px;

}
#bbs p{
    font-size: 16px;
}
#bbs p1{
    font-size: 16px;
    color: rgb(1, 215, 22);
}
#bbs p2{
    font-size: 14px;

}
#bbs p3{
    font-size: 20px;
    font-weight: bolder;

}
.item {
    width: auto;
    height: auto;
    white-space: nowrap;
    display: inline-block;
    margin: 20px;
    font-size: 14px;;
    font-weight: lighter;

  }
.scroll {
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #0f0f0f;
  }

.scroll ::-webkit-scrollbar{
    width: 0;
}







/*blog*/
#blog{
    text-align: left;
}
.col-md-4{
    height: 100%;
}

#blog a{
    color: #0f0f0f;
    text-decoration: none;
}
#blog img{
    margin: 0 auto;
}



#blog h3{
    font-size: .7rem;
    font-weight: bold;
}#blog h1{
    font-size: 32px;

}
#blog p{
    font-size: 16px;
}



/*footer*/
#footer{
    margin-left: 24px;
    font-size: 24px;
}